* {
	margin:0;
	padding:0;
}
p {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #db5461;
	margin-top: 30px;
}
#buttons li a{
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 17px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
#buttons li{
	display: inline;
}
#buttons a:hover{
	color: #8aa29e;
}
#buttons{
	list-style-type: none;
	text-align: center;
	margin-top: 20px;
}
#oneDay{
	text-align: center;
}
#twoDaysList li{
	list-style-type: none;
	text-align: center;
	display: inline;
}
#fullWeekList li{
	list-style-type: none;
	text-align: center;
	display: inline;
}