* {
	margin:0;
	padding:0;
}
p {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #db5461;
	margin-top: 30px;
}
.dayOne{
	width: 100%;
	text-align: center;
	padding-top: 25px;
}
.dayOne div{
	margin: auto;
	background-size: 1400px 1600px;
	background-repeat: no-repeat;
}
.tag{
	float: right;
	font-size: 10px;
}