<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./homepage.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<title> Stab's Schedule  </title>
	</head>
	<body>
		<div>
			<p> Today's date is: {{date}} </p>
			<p> The Letter day is: {{letter}} </p>
		</div>
		<div class='dayOne' >
			<div style="background-image: url({{dayOne}}"></div>
		</div>
		<p class='tag'> Created By Reid Pritchard </p>
	</body>
</html>