<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/homepage.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<title> Stab's Schedule  </title>
		<script>
			$('#oneDayClick').on('click', function(){

	        	$('#twoDays').hide();
	        	$('#ondDay').show();

	   		 });
			$('')
		</script>
	</head>
	<body>
		<p> Today's date is: {{date}} </p>
		<p> And the Letter day is: {{letter}} </p>
		<ul>
			<li><a id='oneDayClick'> One Day </a></li>
			<li><a id='twoDayClick'> Two Days </a></li>
			<li><a id='fullWeekClick'> Full Week </a></li>
		</ul>
	</body>
	<div id="oneDay" style="background-image: src="{{dayOne}}";">
		oneDay TEST
	</div>
	<div id="twoDays">
		<div style="background-image: src="{{dayOne}}";">
			day Two TEST
		</div>	
		<div style="background-image: src="{{dayTwo}}";">
			day Two TEST
		</div>	
	</div>
</html>